@font-face {
  font-family: 'Windlass';
  src: url('fonts/Windlass.eot');
  src: url('fonts/Windlass.eot?#iefix') format('embedded-opentype'),
       url('fonts/Windlass.woff2') format('woff2'),
       url('fonts/Windlass.woff') format('woff'),
       url('fonts/Windlass.svg#Windlass') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html, body {
  width: 100%;
}

body {
  justify-content: center;
  margin: 0;
  background:#0b1e24 linear-gradient(to right, #010d0b 0%, #0b1e24 25%, #0b1e24 75%, #010d0b 100%) repeat-y;
  text-align: center;
  color: #678667;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  width: 100%;
  overflow-x: hidden;
}

.head {
  min-height: 200px;
  width: 100%;
  margin-top: 40px;
  padding: 5px;
}

.head-title {
  font-family: 'Windlass';
  font-size: 5rem;
}
.head-desc {
  font-family: 'windlass';
  font-size: 2rem;
  ;
}

.main {
  background-color: #d4c8ad;
  width: 80%;
  margin: auto;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

h1 {
 font-size: 2.5rem;
}

.p1 {
 font-size: 1.5rem;
}

.p2 {
  font-size: 2.5rem;
}
/*crew size radio*/

.wrapper {
  display: inline-flex;
  height: 50px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}

.wrapper .option{
  background: #d4c8ad;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #678667;
  transition: all 0.3s ease;
}

.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #678667;
  border-radius: 50%;
  position: relative;
}

.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #678667;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"]{
  display: none;
  margin: 5px;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: black;
  background: #678667;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #d4c8ad;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 15px;
  color: #678667;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #d4c8ad;
}

.crew-type h2 {
  font-size: 2.5rem;
}

/*parameters radio*/

.parameters {
  display: inline-flex;
  height: 50px;
  width: auto;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}

.parameters .choice{
  background: #d4c8ad;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #678667;
  transition: all 0.3s ease;
}


#choice-1:checked:checked ~ .choice-1,
#choice-2:checked:checked ~ .choice-2,
#choice-3:checked:checked ~ .choice-3,
#choice-4:checked:checked ~ .choice-4,
#choice-5:checked:checked ~ .choice-5{
  border-color: black;
  background: #678667;
}

.parameters .choice span {
  font-size: 15px;
  color: #678667;
}
#choice-1:checked:checked ~ .choice-1 span,
#choice-2:checked:checked ~ .choice-2 span,
#choice-3:checked:checked ~ .choice-3 span,
#choice-4:checked:checked ~ .choice-4 span,
#choice-5:checked:checked ~ .choice-5 span{
  color: #d4c8ad;
}

/*search button*/
.generate {
  background: #d4c8ad;
  font-family: 'Rubik';
  font-size: 1rem;
  color: #678667;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  margin-top: 50px;
}

.generate:hover {
  background:#678667;
  color: #d4c8ad;
  transition: 0.5s;

}

#task-text {
  text-align:center;
  padding: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.task {
  height: 300px;
}

header {
  height: 1.5rem;
  font-size: 1rem;
  background-color: #d4c8ad;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.hourglass {
  background-color: #d4c8ad;
  width: 60%;
  height: 4rem;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 2.5rem;
}

.hourglass a {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #678667;
  margin-top: -30px;
}

/*  colour change not fitting whole space,
    transform timer left to right colour change*/
.hourglass :hover {
  color: rgb(87, 31, 31);
  background-color: #99abb1;
}

/*media changes*/

@media screen and (max-width: 800px) {

  .parameters .choice {
    width: 1.75rem;
    height: 2rem;
    margin: 0 1px;
  }

  .header {
    min-height: auto;
  }
  
  .wrapper {
    height: 40px;
    width: 200px;
  }

  #task-text {
    font-size: 1.5rem;
  }

  .header-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .header-desc {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .main {
    width: 80%;
    height: auto;
    }

  .main h1{
    font-size: 1.25rem;
    padding: 0.5rem;
    }

  .p1 {
    font-size: 0.75rem;
    }

header {
  height: 2rem;
  font-size: 0.75rem;
  }
}
@media screen and (max-height: 1200px) {
  .main {
   height: 70%
  }
}
