@font-face {
  font-family: 'Windlass';
  src: url('fonts/Windlass.eot');
  src: url('fonts/Windlass.eot?#iefix') format('embedded-opentype'),
       url('fonts/Windlass.woff2') format('woff2'),
       url('fonts/Windlass.woff') format('woff'),
       url('fonts/Windlass.svg#Windlass') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html, body {
  width: 100%;
}

  body {
    justify-content: center;
    margin: 0%;
    height: 100vh;
   background:#0b1e24 linear-gradient(to right, #010d0b 0%, #0b1e24 25%, #0b1e24 75%, #010d0b 100%) repeat-y;
    text-align: center;
    color: #678667;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
     overflow: hidden;
     width: 100%;
}

.header {
  min-height: 200px;
  width: 100%;
  margin-top: 50px;
  padding: 5px;
}

.header-title {
  font-family: 'Windlass';
  font-size: 5rem;
}
.header-desc {
  font-family: 'windlass';
  font-size: 2rem;
  ;
}

.main {
  background-color: #d4c8ad;
  height: 70%;
  width: 80%;
  margin: auto;
  border: 2px solid black;
  border-radius: 15px;
}

.wrapper {
  display: inline-flex;
  height: 50px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}

.wrapper .option{
  background: #d4c8ad;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #678667;
  transition: all 0.3s ease;
}

.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #678667;
  border-radius: 50%;
  position: relative;
}

.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #678667;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"]{
  display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: black;
  background: #678667;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #d4c8ad;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 15px;
  color: #678667;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #d4c8ad;
}

.crew-type {
  font-size: 1.5rem;
}

.generate {
  background: #d4c8ad;
  font-family: 'Rubik';
  font-size: 1rem;
  color: #678667;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  margin-top: 50px;
}

.generate:hover {
  background: #0b1e24 linear-gradient(to right, #010d0b 0%, #0b1e24 25%, #0b1e24 75%, #010d0b 100%) 
  repeat-y;
  color: #d4c8ad;
  transform: scale(1.5);
  transition: 0.5s;

}

#task-text {
  text-align:center;
  padding: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.task {
  height: 300px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    height: 40px;
    width: 300px;
  }
  
  #task-text {
    font-size: 1.5rem;
  }

  .generate:hover {
    transform: scale(1);
    transition: 0s;
  }

  .header-title {
    font-size: 4rem;
  }
  
  .header-desc {
  font-size: 2rem;
  }

  .main {
    width: 80%;
    height: 60%;
    }
  }

@media screen and (max-height: 1200px) {
  .main {
   height: 60%
  }
}
